*
!.gitignore
!manifest.json
!package.json
!popup/
!popup/**
!content/
!content/**
!src/
!src/**
!styles/
!styles/**
!assets/
!assets/**
!scripts/
!scripts/**
!server/
!server/**
!background/
!background/**
!pages/
!pages/**
server/node_modules/
server/.env

.vercel
.env*
